@inherits AppComponentBase


<BitModal @bind-IsOpen="isOpen" IsBlocking="true">
    <div class="main-container">
        <div class="header">
            <BitLabel>@video.Name</BitLabel>
            <BitLabel>@video.CreatedAt</BitLabel>
            <BitLabel>@Localizer[nameof(AppStrings.IsPersonDetected)]:@video.IsPersonDetected</BitLabel>
            <BitIconButton IconName="@BitIconName.ChromeClose" OnClick="OnCloseClick" />
        </div>
        <BitLabel>@path</BitLabel>

        @if (File.Exists(path2))
        {
            <div class="video-container">
                <video controls>
                    <source src="videos/@video.Name" type="video/mp4">
                </video>
            </div>
        }
        else
        {
            <BitLabel>@Localizer[nameof(AppStrings.Error)]</BitLabel>
        }
    </div>
</BitModal>