@page "/"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.HomeTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section hero-section">
        <img class="hero-section-image" src="/images/faviconSquare512.ico" />
        <h1 class="hero-section-title">@Localizer[nameof(AppStrings.HomeTitle)]</h1>

        @* <div class="hero-section-desc">@Localizer[nameof(AppStrings.HomeMessage)]</div> *@

        <div class="hero-section-desc">SynapseVue: Smart Home monitoring system with advanced motion analysis and customizable sensor settings</div>

        <div class="hero-section-desc">Made with <span class="text--red">♥</span> by Woselko</div>

        <BitButton Href="https://github.com/Woselko"
                   Target="_blank"
                   ButtonStyle="BitButtonStyle.Standard"
                   Title="@Localizer[nameof(AppStrings.GitHubRepo)]"
                   AriaLabel="@Localizer[nameof(AppStrings.GitHubRepo)]">
            @Localizer[nameof(AppStrings.GitHubRepo)]
        </BitButton>
    </section>
</div>
